<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Babbage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h1>QUIEN FUE BABBAGE</h1>

<img src="/img/babbage.jpg" alt="Charles Babbage" style="width:300px;   height:auto;    border-radius:8px;">

<p>Charles Babbage fue un matemático, filósofo, inventor e ingeniero mecánico inglés, conocido por ser el "padre de la computadora". Nació el 26 de diciembre de 1791 y falleció el 18 de octubre de 1871. Babbage es famoso por haber diseñado la Máquina Diferencial y la Máquina Analítica, que son consideradas precursoras de las computadoras modernas.</p>
<p>La Máquina Diferencial fue diseñada para calcular tablas matemáticas de manera automática, mientras que  
la Máquina Analítica fue un diseño más avanzado que incluía conceptos como la memoria y la capacidad de realizar operaciones condicionales, lo que la acercaba más a lo que hoy entendemos como una computadora programable.</p>
<p>Aunque Babbage nunca logró construir completamente sus máquinas debido a limitaciones tecnológicas y
financieras de su época, su trabajo sentó las bases para el desarrollo de la informática moderna.</p>

<a href="/">VOLVER AL INDEX</a>
</body>
</html>