<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Tim Berners Lee</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h1>QUIEN FUE BERNERS LEE</h1>

<img src="/img/Berners-Lee.jpg" alt="Berners Lee" style="width:300px;   height:auto;    border-radius:8px;">

<p>Tim Berners-Lee es un científico de la computación británico, conocido por ser el inventor de la World Wide Web. <b>Nació el 8 de junio de 1955 en Londres, Inglaterra.</b> Su creación revolucionó la manera en que accedemos y compartimos información a nivel global.</p>
<p>En <b>1989</b>, mientras trabajaba en el CERN, propuso un sistema de gestión de información que combinaba el uso de hipertexto con Internet. De esta manera, desarrolló el primer navegador web y el primer servidor web, dando origen a lo que hoy conocemos como la Web.</p>
<p>Berners-Lee no solo creó la tecnología, sino que también defendió que la Web fuera de uso libre y gratuito para todos. Su contribución es considerada fundamental para el desarrollo de la sociedad digital y de la era de la información.</p>


<a href="/">VOLVER AL INDEX</a>
</body>
</html>