<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>CLARKE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h1>QUIEN FUE ARTHUR C. CLARKE</h1>

<img src="/img/CLARKE.jpg" alt="CLARKE" style="width:300px;   height:auto;    border-radius:8px;">

<p>Arthur C. Clarke fue un escritor, futurista e inventor británico, reconocido como uno de los grandes maestros de la ciencia ficción. <b>Nació el 16 de diciembre de 1917 en Minehead, Inglaterra</b>, y <b>falleció el 19 de marzo de 2008 en Colombo, Sri Lanka</b>.</p>
<p>Clarke es famoso por su novela <em><b>2001</b>: Una odisea espacial</em>, desarrollada junto con el cineasta Stanley Kubrick, la cual marcó un hito en la literatura y el cine de ciencia ficción. Sus obras exploraban temas como la exploración espacial, el futuro de la humanidad y los avances tecnológicos.</p>
<p>Además de su faceta literaria, Clarke fue un gran divulgador científico. En <b>1945</b> propuso el uso de satélites geoestacionarios para las telecomunicaciones, una idea que se hizo realidad y que hoy es fundamental para las comunicaciones modernas.</p>
<p>Su legado combina imaginación y ciencia, inspirando tanto a lectores como a ingenieros y científicos en todo el mundo.</p>



<a href="/">VOLVER AL INDEX</a>
</body>
</html>