<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Hamilton</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h1>QUIEN FUE HAMILTON</h1>

<img src="/img/Hamilton.jpg" alt="Alexander Hamilton" style="width:300px;   height:auto;    border-radius:8px;">

<p>Alexander Hamilton fue un político, militar, economista y uno de los Padres Fundadores de los Estados Unidos. Nació en 1755 o 1757 (su fecha exacta es debatida) en Charlestown, en la isla de Nevis, en el Caribe, y murió en 1804 en Nueva York, tras un duelo con Aaron Burr, entonces vicepresidente de EE. UU.</p>
<p>Algunos puntos claves sobre su vida: Fue ayudante y confidente de George Washington durante la Guerra de Independencia.
    Defendió la creación de un gobierno central fuerte. Junto con James Madison y John Jay escribió The Federalist Papers, una serie de ensayos que explicaban y defendían la Constitución estadounidense.
    Se enfrentó con Thomas Jefferson y otros líderes que preferían un gobierno más descentralizado y un enfoque agrario frente a su visión comercial e industrial.
    Falleció a los 47 años en un duelo contra Aaron Burr.</p>
<p>En la cultura popular, Hamilton volvió a ganar gran reconocimiento por el musical de Broadway Hamilton (2015), que cuenta su vida a través de rap y música contemporánea.</p>

<a href="/">VOLVER AL INDEX</a>
</body>
</html>