<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grace Hopper</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="contenedor">
      <div class="titulo">
        <h1>Grace Hopper</h1>
      </div>
      <div class="imagen">
        <img src="/img/hopper.webp" alt="" />
      </div>
      <div class="detalles">
        <h3>Historia</h3>
        <p>
          Grace Hopper fue una pionera en la programación de computadoras y
          contraalmirante de la Marina de EE. UU. Desarrolló el primer
          compilador y contribuyó al lenguaje COBOL. Es reconocida como una de
          las figuras más influyentes en la historia de la computación.
        </p>
      </div>
    </div>
  </body>
</html>
