<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documento</title>
</head>

<body>
    <h1>ESTE ES EL INDEX</h1>
    <a href="/babbage">QUIEN FUE BABBAGE</a>
    <a href="/berners-lee">QUIEN ES BERNERS LEE</a>
    <a href="/clarke">QUIEN FUE CLARKE</a>
    <a href="/hamilton">QUIEN FUE HAMILTON</a>
    <a href="/hopper">QUIEN FUE HOPPER</a>
    <a href="/lovelace">QUIEN FUE LOVELACE</a>
    <a href="/turing">QUIEN FUE TURING</a>
</body>

</html>