<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lovelace</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h1>QUIEN FUE ADA LOVELACE</h1>

<img src="/img/lovelace.jpg" alt="Ada Lovelace" style="width:300px;   height:auto;    border-radius:8px;">

<p>Ada Lovelace (1815-1852), cuyo nombre completo fue Augusta Ada King, Condesa de Lovelace, fue una matemática y escritora británica, reconocida como la primera programadora de la historia.</p>
<p>Porque es importante: Fue hija del poeta Lord Byron y de Annabella Milbanke, quien fomentó en ella el interés por las matemáticas y la ciencia.
Colaboró con Charles Babbage, el creador de la “máquina analítica”, un diseño temprano de computadora mecánica.
Ada no solo tradujo un artículo del matemático Luigi Menabrea sobre esa máquina, sino que añadió extensas “Notas”, que resultaron ser mucho más largas e importantes que el texto original.
También tuvo una visión muy adelantada a su tiempo: entendió que las máquinas no solo podrían trabajar con números, sino también con símbolos, música o letras, anticipando así el uso de las computadoras modernas.</p>
<p>Murió joven, a los 36 años, de cáncer uterino, pero su legado es recordado como un paso fundamental en la historia de la informática.</p>

<a href="/">VOLVER AL INDEX</a>
</body>
</html>