<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alan Turing</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="contenedor">
      <div class="titulo">
        <h1>Alan Turing</h1>
      </div>
      <div class="imagen">
        <img src="/img/turing.webp" alt="" />
      </div>
      <div class="detalles">
        <h3>Historia</h3>
        <p>
          Alan Turing fue un matemático y criptógrafo británico. Desarrolló la
          “Máquina de Turing”, base teórica de la informática moderna. Su
          trabajo en descifrar códigos durante la Segunda Guerra Mundial salvó
          millones de vidas.
        </p>
      </div>
    </div>
  </body>
</html>
